@*Menüyü buradan yönetiyoruz*@

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
</li>


<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index" target="_blank">Admin Panel</a>
</li>
