<div class="container-fluid p-0 pt-2">
    <div class="container-fluid p-0 pb-2 text-center">
        Hoşgeldin <span class="text-danger">Admin</span>!
    </div>

    <div class="list-group">
        <a class="list-group-item list-group-item-action"
           asp-area="Admin"
           asp-controller="Product"
           asp-action="Index">Ürünler</a>
        <a class="list-group-item list-group-item-action"
            asp-area="Admin"
            asp-controller="Category" 
            asp-action="Index">Kategoriler</a>
        <a href="#" class="list-group-item list-group-item-action">Ayarlar</a>
        <a href="#" class="list-group-item list-group-item-action">Çıkış</a>
    </div>
</div>