<div class="container-fluid bg-info text-white text-center p-3">
    <a 
        asp-area="Admin"
        asp-controller="Home"
        asp-action="Index"
        class="text-decoration-none text-white"
    ><h1 class="display-6">Admin Panel</h1></a>
</div>